<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736916647783-pa5iqfa1t1de4aem5279cdaadvtrk197.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736916647783-pa5iqfa1t1de4aem5279cdaadvtrk197</string>
	<key>API_KEY</key>
	<string>AIzaSyDb-Hh34SN5i5Jlr4KzGDzocgsmUjB4gWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736916647783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruveus.qrMedicine</string>
	<key>PROJECT_ID</key>
	<string>qr-medicine</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-medicine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736916647783:ios:6219fc818e9a10564309c2</string>
</dict>
</plist>